{
  "extends": "eslint-config-elemefe",
  "plugins": [
    "vue"
  ],
  "globals": {
    "Promise": true,
    "env": true,
    "rm": true,
    "mkdir": true
  },
  "rules": {
    "semi": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "space-before-function-paren": 0
  },
  "env": {
    "browser":true,
    "node":true,
    "commonjs":true,
    "amd":true,
    "es6":true,
    "mocha":true
 }
}
